
* {
    
padding: 0px;
    
margin: 0;
}

body {
    font-family: 'Dancing Script', cursive;
    margin-left: 0px;
    position: static;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: large;
}

.video-media {
    position: fixed;
    max-height: 100vh;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    /* z-index: 1; */
    /* height: auto; */
    opacity: 0.5;
   
}

.wrapper-list {
    width: 300px;
    min-height: 450px;
    /* background-color: rgb(255, 255, 255, 0.5); */
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid rgba(5, 59, 28, 0.5);
    border-radius: 5%;
    box-sizing: border-box;
    /* z-index: 3; */
    /* top: 28%; */
    /* left: 50%; */
}
h1 {
 
    padding: 10px;
    text-align: center;
    text-shadow: 50px;
}
.tasks {
   align-items: top;
}
.task-list {
    width: 300px;
    box-sizing: border-box;
}

#start-message {
    padding-left: 44px;
}

.task {
    display: flex;
    align-items: center;
    padding: 0px 0px;
    margin-left: 44px;
}

.task input {
    margin-right: 10px;
}

.task p {
    margin-left: 4px;
    
}

.completed {
    background-color: rgb(2, 39, 19, 0.5);
    color: white;
    padding-right: 20px;
    margin-right: 10px;

    
}

.completed p {
    text-decoration: line-through;
}

.input-panel {
    
    margin: 8px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 5px;
  
    
}
#task-name-input {
    margin: 10px;
    border: 1px solid black;
    height: 25px;

    
}
.input-panel button {
    padding: 4px;
    width: 15%;
    font-family: 'Dancing Script', cursive;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    
    font-size: large;

}
.button-panel {
    position: relative;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    bottom: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
.button-panel .clear-all, .all, .uncompleted {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: large;
    margin-left: 10px;
    
    
}



 