
* {
    
padding: 0px;
    
margin: 0px;
}

body {
    font-family: 'Dancing Script', cursive;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    overflow: hidden;

}

.wrapper-video {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
   
}

.video_media {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wrapper-list {
    width: 300px;
    min-height: 450px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 8%;
    box-sizing: border-box;
}
h1 {
 
    padding: 10px;
    text-align: center;
    text-shadow: 50px;
}
.tasks {
   align-items: top;
}
.task-list {
    width: 300px;
    box-sizing: border-box;
}

#start-message {
    padding-left: 44px;
}

.task {
    display: flex;
    padding: 0px 0px;
    margin-left: 44px;
    margin-bottom: 4px;
    height: 30px;
}

.task input {
    margin-right: 10px;
    cursor: default;
    margin-top: -6px;
}

#task-name-input:hover {
    box-shadow: 0 0 12px white;
}

.task p {
    margin-left: 4px;
}

.completed {
    color: white;
    padding-right: 20px;
    margin-right: 10px;

    
}

.completed p {
    text-decoration: line-through;
}

.input-panel {
    
margin: 8px;
    
padding: 2px;
    
display: flex;
    
flex-direction: row;
    
justify-content: space-evenly;
    
align-items: center;
    
top: 5px;
}
#task-name-input {
    /* margin: 10px; */
    border: 1px solid black;
    width: 70%;
    height: 25px;
    border-radius: 15px;
    text-indent: 10px;
    font-size: large;
    border-width: 2px;
    outline: 1px solid black;
    border: none;
}
.input-panel button {
    padding: 8px;
    padding-top: 2px;
    width: 20%;
    height: 26.99px;
    font-family: 'Dancing Script', cursive;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    border-radius: 14px;
    border: 1px solid black;
    font-weight: bold;
   
}

.input-panel button:hover {
    box-shadow: 0 0 5px white;
    border: 1px solid white;
    color: white;
    background-color: black;
    font-weight: lighter;
    letter-spacing: 2px;
}
.button-panel {
    position: relative;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    bottom: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}
.button-panel .clearAllButton, .allTasksButton, .uncompletedTasksButton {
    background-color: transparent;
    cursor: pointer;
    margin-left: 6px;
    padding: 8px;
    padding-top: 2px;
    height: 26.99px;
    font-family: 'Dancing Script', cursive;
    border-radius: 14px;
    border: 1px solid black;
    font-weight: bold;
    
}

.button-panel .clearAllButton:hover, .allTasksButton:hover, .uncompletedTasksButton:hover {
    box-shadow: 0 0 5px white;
    border: 1px solid white;
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
    background-color: black;
    
   
}

 